*{
  margin: 0;
  padding: 0;
}

body{
  
  font-family: sans-serif;
}
.App{
  overflow: auto;
  scroll-snap-type:y mandatory;
  height: 100vh;
  
}
.first,.second{
  height: 100vh;
  scroll-snap-align:start ;
}